h1{
    color: black;
    font-size: 50px;
    font-display: 5px;
    padding-top: 0;
    font-weight: bold;font-family: 'Times New Roman', Times, serif;
}
h2{
    font-size: 40px;
    font-weight: 900;
}
.half-on{
    padding-left: 60px;
}
body{
    margin: 0%;
    margin-right: 0%;
}
.top-banner{
    background-image: url(image.jpg/png\ lokta.png);
    background-repeat: no-repeat;
}
span{
    color: coral;
}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font: 100; 
}
.half image{
    width: 300%;
    padding-top: 10%;
    margin-top: 0%;
}
.Person{
    width: 50%;
    image-resolution: 25%;
    margin-left: 0%;
}
.Group{
    margin-top: 0%;
    image-resolution: 10%;
}
.half{
     width: 100%;
     padding-left: 0%;
     margin-top: 5%;
     image-rendering: pixelated;
 }
 .half-one{
     box-shadow: 10px 10px 40px gray;
     width: 40%;
     margin-left: 3%;
     margin-right: 3%;
     padding-left: 35px;
     padding-right: 35px;
     border-radius: 10px;

 }
 .Footer{
     width: 100%;
     text-align: center;
     box-shadow: 0px 0px 60px black;
 }
 .likes{
    width: 95%;
    box-shadow: 0px 0px 50px black;
    text-align: center;
    border-radius: 15px;
    margin-left: 75px;
}
.one{
    width: 33.33%;
    float: left;
}
.two{
    width: 33.33%;
    margin: auto;
}
.three{
    width: 33.33%;
    float: right;
    margin-top: 0%;
    padding: auto;
}
h2{
    font-size: 30px;
}


.Pro-level{
    display: flex;
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 30px;
    margin-right: 0%;
    margin-bottom: 2px;
}
.Pro-levely{
    display: flex;
    box-shadow: 15px 15px 30px gray;
    border-radius: 15px;
    border-width: 50%;
    padding-top: 5px;
    padding-left: 185px;
    padding-right: 30px;
    margin-right: 0%;
    margin-bottom: 2px;
}
.right-banner{
    background-image: url(image.jpg/half\ circle\ .png);
    margin-right: 0%;
    background-repeat: no-repeat;
    background-position: right;
}


.half-talk{
    text-decoration: none;
    font-weight: 700;
    color: black;
    background-color: yellowgreen;
    padding: 10px 40px;
    border-radius: 10px;
    padding: 20%
    background-image linear-gradient(orange tomato);
}
footer{
    text-align: center;
    width: 100%;
    box-shadow: black;
    display: block;
}